# Checkpoint 2: Funding Type Analysis

- Find suitable investmenet type and help Spark Fund to make right choice

In [2]:
# Loading libraries and reading data

import numpy as np
import pandas as pd

# Reading delimited file using pd.read_csv(filepath, sep, header)
# Using encoding = "ISO-8859-1"
companies = pd.read_csv("companies.txt", sep="\t", encoding = "ISO-8859-1")
rounds2 = pd.read_csv("rounds2.csv", encoding = "ISO-8859-1")

In [3]:
companies.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [4]:
companies.shape

(66368, 10)

In [5]:
# unique companies present in the companies
companies.describe()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
count,66368,66367,61310,63220,66368,59410,57821,58338,58340,51147
unique,66368,66102,61191,27296,4,137,311,1092,5111,3978
top,/Organization/Love-Home-Swap,Peach,http://www.askforoffer.com,Software,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012
freq,1,4,5,3995,53034,37601,12900,8804,3526,2730

In [6]:
rounds2.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [7]:
rounds2.shape
rounds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [8]:
# unique companies present in rounds2
rounds2.nunique()

company_permalink           90247
funding_round_permalink    114949
funding_round_type             14
funding_round_code              8
funded_at                    5033
raised_amount_usd           22095
dtype: int64

In [9]:
# Merging the dataframes
# company_permalink,permalink is the common column/key, which has to be provided to the 'on' argument
# how = 'inner' makes sure that all the comapnies ids are reflectd in the master_frame

companies['permalink'] = companies['permalink'].astype(str).str.lower()
rounds2['company_permalink'] = rounds2['company_permalink'].astype(str).str.lower()

master_frame = pd.merge(companies, rounds2, how='inner', left_on='permalink', right_on='company_permalink')

In [10]:
# check the shape, it gives number of the observations
master_frame.shape

(114875, 16)

In [11]:
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [12]:
print(master_frame.shape)
print(master_frame.info())

(114875, 16)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 114875 entries, 0 to 114874
Data columns (total 16 columns):
permalink                  114875 non-null object
name                       114874 non-null object
homepage_url               108749 non-null object
category_list              111488 non-null object
status                     114875 non-null object
country_code               106238 non-null object
state_code                 103972 non-null object
region                     104749 non-null object
city                       104752 non-null object
founded_at                 94387 non-null object
company_permalink          114875 non-null object
funding_round_permalink    114875 non-null object
funding_round_type         114875 non-null object
funding_round_code         31132 non-null object
funded_at                  114875 non-null object
raised_amount_usd          94915 non-null float64
dtypes: float64(1), object(15)
memory usage: 14.9+ MB
None

In [13]:
# isnull()
master_frame.isnull().head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,True,True,True,True,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
# summing up the missing values (column-wise)
master_frame.isnull().sum()

permalink                      0
name                           1
homepage_url                6126
category_list               3387
status                         0
country_code                8637
state_code                 10903
region                     10126
city                       10123
founded_at                 20488
company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         83743
funded_at                      0
raised_amount_usd          19960
dtype: int64

In [18]:
# raised_amount_usd has considerable number of missing value.
# So, it will not help in finding average for funding_round_type
# Let's remove such rows from master_frame

# removing NaN Price rows
master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]

In [19]:
master_frame.isnull().sum()

permalink                      0
name                           1
homepage_url                4330
category_list               1038
status                         0
country_code                5830
state_code                  7581
region                      7027
city                        7024
founded_at                 15944
company_permalink              0
funding_round_permalink        0
funding_round_type             0
funding_round_code         66750
funded_at                      0
raised_amount_usd              0
dtype: int64

In [42]:
#  Grouping: First, we will group the master_frame by funding_round_type
df_by_funding_round_type = master_frame.groupby('funding_round_type')

# Mean : Let's find the mean for raised_amount_usd 
# Not filterig for required 4 funding_round_type as the values are visible without filters
# Removed scientific notation
#funding_raised_df = pd.DataFrame(df_by_funding_round_type.raised_amount_usd.mean().apply(lambda x: format(x, 'f')))
# Avaerage in million USD
funding_raised_df = pd.DataFrame(df_by_funding_round_type.raised_amount_usd.mean()/1000000)
funding_raised_df

                       raised_amount_usd
funding_round_type
angel                           0.958892
convertible_note                1.457327
debt_financing                 17.043526
equity_crowdfunding             0.539113
grant                           4.312660
non_equity_assistance           0.411203
post_ipo_debt                 168.704572
post_ipo_equity                82.182494
private_equity                 73.341462
product_crowdfunding            1.363131
secondary_market               79.649630
seed                            0.719892
undisclosed                    19.252764
venture                        11.749431

In [44]:
# Let's see total amount of investment done in each funding_round_type

df_by_funding_round_type.raised_amount_usd.sum()/1000000

funding_round_type
angel                      4659.255123
convertible_note           2102.922414
debt_financing           113884.840886
equity_crowdfunding         660.413837
grant                      9134.213702
non_equity_assistance        30.017823
post_ipo_debt             25643.094917
post_ipo_equity           51610.606151
private_equity           141915.728467
product_crowdfunding        526.168593
secondary_market           2389.488903
seed                      16977.944058
undisclosed               30438.620425
venture                  590044.672396
Name: raised_amount_usd, dtype: float64

In [46]:
# Let's see how many compaines are investing each funding_round_type

df_by_funding_round_type.company_permalink.count()

funding_round_type
angel                     4859
convertible_note          1443
debt_financing            6682
equity_crowdfunding       1225
grant                     2118
non_equity_assistance       73
post_ipo_debt              152
post_ipo_equity            628
private_equity            1935
product_crowdfunding       386
secondary_market            30
seed                     23584
undisclosed               1581
venture                  50219
Name: company_permalink, dtype: int64